/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
figcaption,
figure {
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 */
button {
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
   * Remove the inner border and padding in Firefox.
   */
  /**
   * Restore the focus styles unset by the previous rule.
   */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
 * Show the overflow in Edge.
 */
input {
  overflow: visible; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
   * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
   */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Add the correct display in IE 9-.
 */
menu {
  display: block; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Z-Index Reference
  0 - #map
  10 - .marker-info, .marker-add
  20 - .menu-dropdown
  30 - nav
*/
#map {
  z-index: 0; }

body {
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif; }

button, input[type=submit] {
  color: #fff;
  background: #429842;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 20px 30px;
  text-transform: uppercase;
  border: none; }
  button:active, input[type=submit]:active {
    background: #245424; }
  button:focus, input[type=submit]:focus {
    outline: none; }
  @media (min-width: 480px) {
    button, input[type=submit] {
      max-width: 200px;
      float: right; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

h1 {
  font-size: 30px;
  display: block;
  text-transform: capitalize;
  color: #429842;
  background: #eee;
  padding: 40px 0px 20px 36px;
  border-bottom: 1px solid #ddd; }

h2 {
  font-size: 18px;
  text-align: left;
  padding: 0px; }

h3 {
  color: #429842;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  padding-bottom: 4px;
  text-transform: capitalize; }

h4 {
  text-align: left; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #429842; }
  a:active {
    text-decoration: underline; }

p {
  margin: 20px 0px 20px 0px; }

ul {
  text-align: center;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

.form {
  width: 100%; }

input[type=checkbox] {
  margin: 0px 5px 10px 0px; }

header {
  width: 100%;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
  background: #429842; }

nav {
  display: flex;
  justify-content: space-between;
  z-index: 50; }
  nav .fa-angle-down {
    -webkit-transition: transform 300s;
    -ms-transition: transform 300s;
    transition: transform 300s; }

.menu-dropdown {
  position: absolute;
  left: 0;
  top: -329px;
  background: #fff;
  color: #429842;
  width: 100vw;
  z-index: 20;
  -webkit-transition: all 300ms;
  -ms-transition: all 300ms;
  transition: all 300ms; }
  .menu-dropdown li {
    display: block;
    border-bottom: 1px solid #ddd; }
    .menu-dropdown li:last-child {
      box-shadow: 0px 2px 2px #ddd; }
  .menu-dropdown a {
    font-weight: normal;
    text-decoration: none; }

.showMenu {
  top: 54px; }

.rotateIcon {
  transform: rotate(180deg); }

.current-page {
  background: #e8f59b; }

.bin-add {
  background: #429842; }
  .bin-add a {
    color: #fff; }

.bin-request {
  background: #E3A511; }
  .bin-request a {
    color: #fff; }

.bin-modify {
  display: flex;
  justify-content: flex-start; }
  .bin-modify a {
    padding: 0px 16px 20px 0px; }

.bin-submit-data {
  background: #429842;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 20px 0px;
  text-transform: uppercase;
  text-align: center;
  border: none; }
  .bin-submit-data a {
    color: #fff !important;
    text-decoration: none; }
  .bin-submit-data:active {
    background: #245424; }
  .bin-submit-data:focus {
    outline: none; }
  @media (min-width: 480px) {
    .bin-submit-data {
      max-width: 200px;
      float: right; } }

.logo {
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-size: 18px;
  padding-left: 20px; }

.user-signout {
  padding-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer; }
  .user-signout .fa-angle-down {
    font-size: 18px;
    padding-left: 10px;
    transition: transform 300ms; }

main {
  padding: 0px 36px; }

.list-recyclables {
  display: flex; }
  .list-recyclables div {
    flex: 1; }

.marker-info {
  position: fixed;
  bottom: -50vh;
  left: 0;
  background: #fff;
  width: calc(100vw - 40px);
  height: 0;
  height: 25vh;
  z-index: 10;
  overflow: auto;
  padding: 20px;
  border-top: 1px solid #ddd;
  -webkit-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s; }

.marker-info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .marker-info-list li {
    padding: 3px;
    margin-top: 10px;
    background: #E3A511; }
    @media (min-width: 480px) {
      .marker-info-list li {
        margin-right: 10px; } }
    .marker-info-list li:nth-child(2n+0) {
      background: #e8f59b; }
    .marker-info-list li:nth-child(3n+0) {
      background: #429842; }
  @media (min-width: 480px) {
    .marker-info-list {
      justify-content: flex-start; } }

.marker-add-info {
  position: absolute;
  bottom: 0;
  left: 0; }

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 33px;
  font-size: 20px; }

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 33px;
  background-color: #eee; }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none; }

/* When the checkbox is checked, add a green background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #429842; }

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 12px;
  top: 6px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.content-index {
  padding: 0px; }

.list-links li {
  border-bottom: 1px solid #ddd;
  padding: 20px 0px; }

/*# sourceMappingURL=screen.css.map */
