@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

$font-logo: 'Nunito', sans-serif;
$font-body: 'Open Sans', sans-serif;

$primary-color: #429842;
$primary-color-shade: #245424;

$secondary-color: #e8f59b;

$tertiary-color: #E3A511;

$gray: #ddd;
$light-gray: #eee;

$global-padding: 36px;

$border: 1px solid #ddd;

// Breakpoints

$breakpoint-mobile: 480px;
$breakpoint-tablet: 736px;
