@import 'normalize/import-now';
@import 'tools';
@import 'mixins';

/* Z-Index Reference
  0 - #map
  10 - .marker-info, .marker-add
  20 - .menu-dropdown
  30 - nav
*/

// 000 - Map Styles

#map {
  z-index: 0;
}

// 0001 - Global Styles

body {
  margin: 0px;
  font-size: 16px;
  line-height: 22px;
  font-family: $font-body;
}

button, input[type=submit] {
  color: #fff;
  background: $primary-color;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 20px 30px;
  text-transform: uppercase;
  border: none;
  &:active {
    background: $primary-color-shade;
  }
  &:focus {
    outline: none;
  }
  @media (min-width: $breakpoint-mobile) {
    max-width: 200px;
    float: right;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  font-size: 30px;
  display: block;
  text-transform: capitalize;
  color: $primary-color;
  background: $light-gray;
  padding: 40px 0px 20px $global-padding;
  border-bottom: $border;
}

h2 {
  font-size: 18px;
  text-align: left;
  padding: 0px;
}

h3 { //Used for information box
  color: $primary-color;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  padding-bottom: 4px;
  text-transform: capitalize;
}

h4 {
  text-align: left;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $primary-color;

  &:active {
    text-decoration: underline;
  }
}

p {
  margin: 20px 0px 20px 0px;
}

ul {
  text-align: center;
  text-transform: capitalize;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.form {
  width: 100%;
}

input[type=checkbox] {
  margin: 0px 5px 10px 0px;
}

// 001 - Header Styles

header {
  width: 100%;
  height: 54px;
  line-height: 54px;
  font-size: 16px;
  color: #fff;
  background: $primary-color;
}

nav {
  display: flex;
  justify-content: space-between;
  z-index: 50;

  // a {
  //   color: #fff;
  //   font-weight: lighter;
  //   text-decoration: none;
  //   text-transform: uppercase;
  //   letter-spacing: 1px;
  //
  //   &:active {
  //     opacity: .65;
  //     text-decoration: none;
  //   }
  //
  // }

  .fa-angle-down {
    @include transition(transform 300s);
  }

}

.menu-dropdown {
  position: absolute;
  left: 0;
  top: -329px;
  background: #fff;
  color: $primary-color;
  width: 100vw;
  z-index: 20;
  @include transition(all 300ms);

  li {
    display: block;
    border-bottom: $border;

    &:last-child {
      box-shadow: 0px 2px 2px $gray;
    }
  }

  a {
    font-weight: normal;
    text-decoration: none;
    &:active {

    }
  }
}

.showMenu {
  top: 54px;
}

.rotateIcon {
  transform: rotate(180deg);
}

.current-page {
  background: $secondary-color;
}

.bin-add {
  background: $primary-color;
  a {
    color: #fff;
  }
}

.bin-request {
  background: $tertiary-color;
  a {
    color: #fff;
  }
}

.bin-modify {
  display: flex;
  justify-content: flex-start;
  a {
    padding: 0px 16px 20px 0px;
  }
}

.bin-submit-data {
  background: $primary-color;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px auto 0px auto;
  padding: 20px 0px;
  text-transform: uppercase;
  text-align: center;
  border: none;

  a {
    color: #fff !important;
    text-decoration: none;
  }

  &:active {
    background: $primary-color-shade;
  }
  &:focus {
    outline: none;
  }
  @media (min-width: $breakpoint-mobile) {
    max-width: 200px;
    float: right;
  }
}

.logo {
  font-family: $font-logo;
  color: #fff;
  font-size: 18px;
  padding-left: 20px;

  a:hover {

  }
}

.user-signout {
  padding-right: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;

  .fa-angle-down {
    font-size: 18px;
    padding-left: 10px;
    transition: transform 300ms;
  }
}

// 002 - Content Styles

main {
  padding: 0px 36px;
}

.list-recyclables {
  display: flex;
  div {
    flex: 1;
  }
}

.marker-info {
  position: fixed;
  bottom: -50vh;
  left: 0;
  background: #fff;
  width: calc(100vw - 40px);
  height: 0;
  height: 25vh;
  z-index: 10;
  overflow: auto;
  padding: 20px;
  border-top: $border;
  @include transition(all 1s);
}

// .marker-info-styles {
//   padding: 20px;
// }

.marker-info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li {
    padding: 3px;
    margin-top: 10px;
    background: $tertiary-color;
    @media (min-width: $breakpoint-mobile) {
      margin-right: 10px;
    }
    &:nth-child(2n+0) {
      background: $secondary-color;
    }
    &:nth-child(3n+0) {
      background: $primary-color;
    }
  }
  @media (min-width: $breakpoint-mobile) {
    justify-content: flex-start;
  }
}

.marker-add-info {
  position: absolute;
  bottom: 0;
  left: 0;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 33px;
  font-size: 20px;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 33px;
  background-color: $light-gray;

  &:after {
    content: "";
    position: absolute;
    display: none;
  }

}

/* When the checkbox is checked, add a green background */
.container-checkbox input:checked ~ .checkmark {
  background-color: $primary-color;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 12px;
  top: 6px;
  width: 5px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// 003 - Footer Styles

// 004 - Index Styles

.content-index {
  padding: 0px;
}

// 005 - Links Styles

.list-links {
  li {
    border-bottom: $border;
    padding: 20px 0px;
  }
}
